body{
    margin: 0px;
    padding: 0px;
}

#navbar {
    height: 50px;
    width: 100%;
    background-color: blue;
    position: fixed;
    top: 0px;
    left: 0px;
}

#sasukenon {
    border: 2px solid black;
}

.ken{
    width: 300px;
    height: 300px;
    background-color: red;
    margin-top: 10px;
}